.week-header-container {
  display: inline-flex;
  padding-bottom: 15px;
}

.week-header-name {
  margin: 0 15px;
  width: 40px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #fafafa;
}

.weekend {
  color: #9a0000;
}

.work-day {
  color: green;
}
