div {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: lightsteelblue;
  border: 1px solid white;
}

.current-date {
  background-color: aquamarine;
}

.prev-next-month {
  background-color: gray;
}

div:hover {

  cursor: pointer;
  background-color: #8a9fc0;

}

p {
  margin: 0 15px;
  width: 40px;
  text-align: center;
}
